.pageHeader {
  padding-bottom: 16px;
}
.titleBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
.title {
  font-size: 28px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 4px;
}
.subtitle {
  font-size: 16px;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
}
// TODO: настроить увеличение логотипа по наведению или нажатию
//.logo {
//  transform: scale(1);
//  transition: .2s;
//  &:hover {
//    transform: scale(5);
//  }
//}

.teamData {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 18px;
  row-gap: 6px;
  padding-bottom: 36px;
}
.dataTitle {
  font-size: 16px;
}
.dataValue {
  font-size: 16px;
  font-weight: 500;
}
.dataList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dataItem {
  font-size: 16px;
  font-weight: 500;
}

.formBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}

.text {
  font-size: 14px;
  color: var(--system_black);
  margin-top: 4px;
  margin-bottom: 0;
}

.updateButton {
  margin-left: auto;
}

.button {
  margin-top: 4px;
}