.pageHeader {
  min-height: 54px;
}
.title {
  font-size: 28px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 4px;
}
.subtitle {
  font-size: 16px;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
}

.paneHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}

.text {
  font-size: 14px;
  color: var(--system_black);
  margin-top: 4px;
  margin-bottom: 0;
}

.updateButton {
  margin-left: auto;
}

.button {
  margin-top: 4px;
}