.pageHeader {
  min-height: 54px;
}
.title {
  font-size: 28px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 4px;
}
.subtitle {
  font-size: 16px;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
}

.paneHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-bottom: 24px;
}